/*
 * Lemon IoT LoRa RAK3172 ADC overlay
 * 
 * For STM32-adc bindings see:
 * https://docs.zephyrproject.org/latest/build/dts/api/bindings/adc/st,stm32-adc.html#st-stm32-adc
 *
 * Copyright (c) 2023 Aaron Mohtar & Co Pty Ltd
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/ { 
	aliases {
		adcperiph = &adc1;
	};
};

&adc1 {
	pinctrl-0 = <&adc_in2_pb3>, <&adc_in3_pb4>, <&adc_in4_pb2>, <&adc_in6_pa10>, <&adc_in11_pa15>;
	pinctrl-names = "default";
	status = "okay";
	st,adc-clock-source = <SYNC>;
	st,adc-prescaler = <1>;
};
